.App {
  text-align: center;
}

.greeting {
  position: fixed;
  right: 867px;
  top: 160px;
  justify-content: center;
  align-items: center;
}

.greeting h1 {
  color: slateblue;
  font-size: 50px;
}

.greeting h2 {
  font-size: 30px;
}




