.scene-container {
  display: flex;
  flex-direction: column;
}

.appbar {
  margin-left: 300px; /* drawerWidth */
  z-index: 1201; /* example z-index based on theme */
  position: fixed;
}

.icon-button {
  margin-right: 16px;
  display: none;
}

.root header{
  flex-direction: column;
  width: 20%;
}

.logout-button p {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  transition: width 0.2s ease, opacity 0.2s ease;
  width: auto; /* hoặc width phù hợp */
  margin: 0;
}

@media (max-width: 70px) {
  .logout-button p {
    width: 0;
    opacity: 0;
  }
}



@media (max-width: 600px) {
  .icon-button {
    display: block;
  }
}

.nav-container {
  width: 300px; /* drawerWidth */
  flex-shrink: 0;
}

.drawer-temporary {
  display: block;
}

.drawer-permanent {
  display: none;
}

@media (min-width: 600px) {
  .drawer-temporary {
    display: none;
  }
  
  .drawer-permanent {
    display: block;
  }
}

.drawer-paper {
  box-sizing: border-box;
  width: 300px; /* drawerWidth */
}

.main-content {
  flex-grow: 1;
  padding: 24px; /* 3 * theme.spacing(3) */
  width: calc(100% - 300px); /* 100% - drawerWidth */
}
  